<% if user_signed_in? %>
  <% controller.redirect_to groups_path %>
<% else %>
<div class="home">
  <%= render 'layouts/msg'%>
  <div class="logo">
    <img src="<%= asset_path( 'test.png' ) %>" alt="">
  </div>
  <div class="sessions d-grid gap-2">
    <%= link_to "Log in", new_user_session_path, id: 'log-in', class: "btn btn-lg  btn-primary"%>
    <%= link_to "Sign up", new_user_registration_path, id: 'sign-up', class: "btn btn-lg"%>
  </div>
</div>
<%end%>