<div class="home">
  <div class="logo">
    <img src="<%= asset_path( 'test.png' ) %>" alt="">
  </div>
  <div class="sessions d-grid gap-2">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg  btn-primary"%>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg"%>
  </div>
</div>