// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

.groups {
  margin-top: 5rem;
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $second;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    .add-btn {
      width: 100%;
      margin: 1rem;
      background: none;    
      color: white;
      font-size: 1.3rem;
      display:inline-block;
      text-align:center;
      text-transform:uppercase;
      padding:8px;
      border: 2px solid white;
      border-radius: 5px;
    }
    
    .add-btn:active {
      background-color: lightgreen;
    }
  }

  .group {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 8px #ddd;
    margin: 1rem 0.5rem;
    gap: 0.8rem;
    .group-info {
      display: flex;
      justify-content: space-between;
      color: $text;
      width: 100%;

      .group-name {
        text-decoration: none;
        color: inherit;
      }
    }

    .group-logo {
      height: auto;
      width: 5rem;
      
      img {
        height: auto;
        width: 5rem;
      }
    }
  }
}
